* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.homeContainer {
  min-height: 90vh;
  width: 100vw;
  padding-top: 10vh;
  background-color: white;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background-color: white;
  padding: 0px 30px;
  position: fixed;
}

.navbarBrand {
  height: 30px;
}

.btn {
  height: 40px;
  width: 150px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: #0b0b0b;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffe500;
  color: #0b0b0b;
  transition: 0.2s;
}

.settingsIcon {
  height: 30px;
  cursor: pointer;
}

.navbarSections {
  display: flex;
  align-items: center;
  gap: 30px;
}

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.homeHero {
  font-size: 96px;
  font-weight: bold;
  text-align: center;
  width: 65vw;
  padding: 20px 0px;
  min-height: 100px;
  line-height: 96px;
}

.highlightHero {
  font-size: 96px;
  font-weight: bold;
  text-align: center;
  width: 65vw;
  color: #ffe500;
}

.subtitles {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.homeSubtitle {
  width: 50vw;
  text-align: center;
}

.decorativeArrowContainer {
  height: 80px;
}

.decorativeIcons {
  font-size: 40px;
  -webkit-animation: upAndDown 3s linear infinite;
  -moz-animation: upAndDown 3s linear infinite;
  animation: upAndDown 3s linear infinite;
}

.navbarMobileToggler {
  height: 20px;
  cursor: pointer;
}

.iconsMini {
  width: 20px;
}

.navLinks {
  text-decoration: none;
  color: #0b0b0b;
}

.navbarToggledMobile {
  background-color: rgba(255, 255, 255, 0.8);
  height: 98vh;
  width: 80vw;
  right: 20px;
  top: 10px;
  position: absolute;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-animation: toggleNavbar 0.1s linear;
  -moz-animation: toggleNavbar 0.1s linear;
  animation: toggleNavbar 0.1s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
}

.menuArrow::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  z-index: 2;
  position: fixed;
  rotate: 45deg;
  top: 72px;
  right: 35px;
  -webkit-animation: toggleNavbar 0.1s linear;
  -moz-animation: toggleNavbar 0.1s linear;
  animation: toggleNavbar 0.1s linear;
}

.navLinksMobile {
  display: flex;
  padding-left: 45%;
  text-decoration: none;
  color: #0b0b0b;
  width: 100%;
  height: 50px;
}

.navLinksMobile:hover {
  background-color: #ffe500;
}

.closeIcon {
  position: absolute;
  right: 30px;
  top: 35px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
}

@keyframes upAndDown {
  50% {
    -webkit-transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

@keyframes toggleNavbar {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}

@media screen and (max-width: 3840px) {
  .navbarMobileToggler {
    display: none;
  }
  .navbarToggledMobile {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 750px) {
  .navLinks {
    display: none;
  }
  .navbarMobileToggler {
    display: block;
  }
  .getInTouch {
    display: none;
  }
  .toggleMode {
    display: none;
  }
  .highlightHero {
    font-size: 60px;
  }
  .homeHero {
    font-size: 60px;
    line-height: 60px;
    width: 80vw;
  }
  .homeSubtitle {
    width: 80vw;
  }
  .navbarToggledMobile {
    display: flex;
  }
}
